* {
    box-sizing: border-box;
}

.container {
    width: 70%;
    margin: 160px auto;
    text-align: center;
    padding: 20px;
}

.dice {
    text-align: center;
    display: inline-block;
}

body {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000' stroke-width='34.2' stroke-opacity='0.29' %3E%3Ccircle fill='%234fd1c5' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%2338c5c3' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%231eb8bf' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%2300abbb' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23009fb6' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%230092b0' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%230085a9' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%230079a1' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23006c97' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%2309608d' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23185381' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23204775' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%23253b68' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%2328305b' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%2328244d' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%2327193f' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%23240e31' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23210024' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    margin: 30px;
    font-family: 'Lobster', cursive;
    text-shadow: 3px 0 #fff;
    font-size: 8rem;
    color: #00FFCB;
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
}

p {
    font-size: 3em;
    color: #fff;
    font-family: 'Lobster', cursive;
}

img {
    width: 80%;
    animation-name: roll;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}


/* Button */

.button-wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
}

.refresh-button {
    min-width: 300px;
    min-height: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #fff;
    background: #4FD1C5;
    background: linear-gradient(90deg, rgba(129, 230, 217, 1) 0%, rgba(79, 209, 197, 1) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(79, 209, 197, .64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
}

button::before {
    content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid #00FFCB;
    box-shadow: 0 0 60px rgba(0, 255, 203, .64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
}

.refresh-button:hover,
.refresh-button:focus {
    transform: translateY(-6px);
}

button:hover::before,
button:focus::before {
    opacity: 1;
}

button::after {
    content: '';
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 6px solid #00FFCB;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
}

button:hover::after,
button:focus::after {
    animation: none;
    display: none;
}


/* Header Animation */

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* Dice Roll Animation */

@keyframes roll {
    0% {
        transform: scale(-1) rotate(5000deg);
        border-radius: 100%;
    }
}


/* Button Animation */

@keyframes ring {
    0% {
        width: 30px;
        height: 30px;
        opacity: 1;
    }
    100% {
        width: 300px;
        height: 300px;
        opacity: 0;
    }
}

@media (max-width: 960px) {
    .container {
        width: 90%;
    }
}